body {
  font-family: "Playfair Display", serif;
  padding: 30px;
  text-align: center;
  position: center;
  background: url(https://images.pexels.com/photos/2364701/pexels-photo-2364701.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    no-repeat center fixed;
  background-size: cover;
  opacity: 0.8;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 10px;
  font-weight: bolder;
  position: center;
  text-align: center;
  color: whitesmoke;
  display: block;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 10px;
  position: center;
  text-align: center;
  font-weight: bolder;
  font-weight: 20px;
  color: whitesmoke;
}

ul {
  list-style: none;
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  position: center;
  color: whitesmoke;
  display: block;
  text-align: center;
}

li {
  text-transform: capitalize;
}
.search-bar {
  border-radius: 4px;
  margin-top: 10px;
  margin: 0 auto;
  display: inline-block;
  border-color: #072c17;
  width: 20%;
}

.submit-button {
  font-family: "Playfair Display", serif;
  background-color: #4b86b1;
  margin: 0 auto;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  border-radius: 4px;
  border-color: black;
  font-size: 15px;
  color: white;
  transition: 200ms ease-in-out;
  box-shadow: #ede8d8;
}

.submit-button:hover {
  box-shadow: 2px 2px 6px #191919;
}

.location {
  font-family: "Playfair Display", serif;
  background-color: #4b86b1;
  margin: 5px 0 auto;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  border-radius: 4px;
  border-color: black;
  font-size: 15px;
  color: white;
  transition: 200ms ease-in-out;
  box-shadow: #ede8d8;
}

.location-button:hover {
  box-shadow: 2px 2px 6px #191919;
}

.temperature {
  font-family: "Playfair Display", serif;
  font-size: 30px;
  position: center;
  text-align: center;
  font-weight: bolder;
  color: whitesmoke;
}
.col-2 {
  border-radius: 5px;
  border-style: solid;
  border-color: darkslategray;
  border-width: 6px;
  padding-top: 10px auto;
  padding-bottom: 10px auto;
  margin: 0 auto;
  background-color: darkgray;
  opacity: 0.9;
}

.card-body {
  background-color: darkslategray;
  border-radius: 3px;
  border-style: solid;
  border-color: black;
  opacity: 1;
}

.cardBody {
  background-color: darkslategray;
  border-radius: 4px;
  opacity: 1;
}

.weather-forecast {
  text-align: center;
}
.weather-forecast-temparature-max {
  font-family: "Playfair Display", serif;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  color: black;
}

.weather-forecast-temparature-min {
  font-family: "Playfair Display", serif;
  position: relative;
  font-weight: bolder;
  font-size: 12px;
  color: #191919;
  opacity: 0.9;
}

.weather-forecast-date {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  color: black;
  font-size: 15px;
}

p {
  text-align: center;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  color: whitesmoke;
  text-align: center;
}

.hub {
  text-align: center;
  margin: 30px 0 auto;
  padding-top: 15px auto;
  padding-bottom: 15px auto;
}

.hub-wrapper {
  margin: 30px 0 auto;
  position: center;
}

.units {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke;
}
.weather-temperature .active {
  color: whitesmoke;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
